{% extends "inc/base.tpl.html" %}

{% block content %}
<article>
	<header>
        <a href="{{ post.link|e }}">
            <h2>{{ post.title|e|typo }}</h2>
		</a>

		<p>
            <time datetime="{{ post.date|date('c') }}" pubdate="pubdate">{{ post.date|date('F j, Y') }}</time>
			•
            <a class="permalink" title="Permalink" href="{{ post.permalink|e }}">∞</a>
		</p>

        {% if post.author != blog.author %}
            {% set author = post.author %}
            <p class="author">By {% if author.hasURL %}<a href="{{ author.url }}">{% endif %}{{ post.author.name }}{% if author.hasURL %}</a>{% endif %}</p>
        {% endif %}
	</header>

    {{ postBody(post) }}

	<footer>
        {% set tags = post.tags %}
        {% if tags is not empty %}
			<p class="tags">
				<strong>Tags:</strong>
				<ul>
				{% for tag in tags %}
					<li>
						<a href="{{ tag.url|e }}">{{ tag.name|e|typo }}</a>
					</li>
				{% endfor %}
				</ul>
			</p>
		{% endif %}

        {% set categories = post.category %}
        {% if categories is not empty %}
			<p class="categories">
				<strong>Categories:</strong>
                <ul>
                {% for category in categories %}
                    <li>
                        <a href="{{ category.url|e }}">{{ category.name|e|typo }}</a>
                    </li>
                {% endfor %}
                </ul>
			</p>
		{% endif %}

        {% if post_prev is defined or post_next is defined %}
            <p class="neighbor_posts">
            {% if post_prev is defined %}
                <a rel="prev" href="{{ post_prev.permalink }}">← {{ post_prev.getTitle(true) }}</a>
            {% endif %}
            {% if post_next is defined %}
                <a rel="next" href="{{ post_next.permalink }}">{{ post_next.getTitle(true) }} →</a>
            {% endif %}
            </p>
        {% endif %}
	</footer>
</article>
{% endblock %}