{% extends "inc/base.tpl.html" %}

{% block content %}
<article>
	<header>
        <a href="{{ post._link|e }}">
            <h2>{{ post._title|e|typo }}</h2>
		</a>

		<p>
            <time datetime="{{ post._date|date('c') }}" pubdate="pubdate">{{ post._date|date('F j, Y') }}</time>
			•
            <a class="permalink" title="Permalink" href="{{ post._permalink|e }}">∞</a>
		</p>
	</header>

    {{ post._content|md }}

	<footer>
        {% set tags = post._tags %}
        {% if tags is not empty %}
			<p class="tags">
				<strong>Tags:</strong>
				<ul>
				{% for tag in tags %}
					<li>
						<a href="{{ tag._url|e }}">{{ tag._name|e|typo }}</a>
					</li>
				{% endfor %}
				</ul>
			</p>
		{% endif %}

        {% set category = post._category %}
        {% if category is not empty %}
			<p class="category">
				<strong>Category:</strong> <a href="{{ category._url|e }}">{{ category._name|e|typo }}</a>
			</p>
		{% endif %}

        {% if post_prev is defined or post_next is defined %}
            <p class="neighbor_posts">
            {% if post_prev is defined %}
                <a rel="prev" href="{{ post_prev._permalink }}">← {{ post_prev.get_title(true) }}</a>
            {% endif %}
            {% if post_next is defined %}
                <a rel="next" href="{{ post_next._permalink }}">{{ post_next.get_title(true) }} →</a>
            {% endif %}
            </p>
        {% endif %}
	</footer>
</article>
{% endblock %}