{% extends "inc/base.tpl.html" %}

{% block content %}
<article>
	<header>
        <a href="{{ post.get_link()|e }}">
            <h2>{{ post.get_title()|e|typo }}</h2>
		</a>

		<p>
            <time datetime="{{ post.get_date()|date('c') }}" pubdate="pubdate">{{ post.get_date()|date('F j, Y') }}</time>
			•
            <a class="permalink" title="Permalink" href="{{ post.get_permalink()|e }}">∞</a>
		</p>
	</header>

    {{ post.get_content()|md }}

	<footer>
        {% set tags = post.tags %}
        {% if tags is not empty %}
			<p class="tags">
				<strong>Tags:</strong>
				<ul>
				{% for tag in tags %}
					<li>
						<a href="{{ tag.get_url()|e }}">{{ tag.get_name()|e|typo }}</a>
					</li>
				{% endfor %}
				</ul>
			</p>
		{% endif %}

        {% set category = post.get_category() %}
        {% if category is not empty %}
			<p class="category">
				<strong>Category:</strong> <a href="{{ category.get_url()|e }}">{{ category.get_name()|e|typo }}</a>
			</p>
		{% endif %}
	</footer>
</article>
{% endblock %}